body {
    background-color: rgb(255, 255, 165);
}

.title {
    color: white;
    text-align: center;
}

.image{
    display: block;
    margin: auto;
    box-shadow: 30px 15px 10px 15px rgba(0, 0, 0, 0.2) ;
    border-radius: 25px;
    height: 400px;
    transition: .2s;
}

.image:hover {
    cursor:pointer;
    border: 8px solid rgba(245, 245, 245, 0.5);
    filter: contrast(110%) brightness(110%);
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}